/* h3 {
    color:pink;
} */



#greycol {
    color:gray;
}

div + div > p {
 color:red;
}

div + div + h3 + p {
    color:green;
}

.yellow {
    color: yellow;
}

.text-box > h3:first-child {
  color:pink;  
}
table {
    border: 5px solid red;
    padding: 10px;
}
th {
   border: 3px solid blue;
   background-color: aqua;
}
th:hover {
    border: 3px solid green;
    background-color: brown;
}
th:active {
    background-color: darkorchid;
}
th:nth-child(odd) {
    background-color: gold;
}
/* th:nth-child(odd):hover {
    background-color: black;
    color: red;
} */
td {
    border: 3px solid tomato;
}
td:nth-child(-n+3) {
     background-color: darkgoldenrod;
}
td:nth-child(n+4) {
    background-color: darkorange;
}
td:hover {
    background-color: black;
    color:red
}
td:active {
    background-color: blueviolet;
    color: deeppink;
}